@model IEnumerable<Recipes.recipe>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.done)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.favourites)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.done)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.favourites)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ingredients }) |
            @Html.ActionLink("Details", "Details", new { id=item.ingredients }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ingredients })
        </td>
    </tr>
}

</table>
