@model IEnumerable<Recipees.recipe_ingredient>


<table class="table">
    <tr>
        <th>  Recipes</th>
        <th> </th>
        <th>   Ingredients</th>
    </tr>
    
    <tr>
        <th>
             @Html.DisplayNameFor(model => model.recipe.name)
            
        </th>
        <th>
            @Html.DisplayNameFor(model => model.recipe.description)

        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredient.namee)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ingredient.quantity)
        </th>

       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.recipe.name)
            
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.recipe.description)

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredient.namee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ingredient.quantity)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.recipe_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.recipe_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.recipe_id })
        </td>
    </tr>
}

</table>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
